*.iml
.gradle
/local.properties
.env
.env.*
.next
node_modules
/backend/node_modules
/backend/dist
/backend/storage
/backend/.env
/backend/.env.*
/admin-web/node_modules
/admin-web/.next
/admin-web/.env
/admin-web/.env.*
/app/build
/app/.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
